* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.main-container {
  width: 1350px;
  margin: auto;
}
img{
  max-width: 100%;
}

/* Banner Section Style */
.banner-section {
  width: 100%;
  background: #0079ba;
  height: 100vh;
  background: url("./assets/images/banner/banner3.png") no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
.banner-content {
  width: 1350px;
  margin: auto;
}
.banner-content article {
  width: 45%;
  margin-left: auto;
  text-align: right;
}
.banner-title {
  font-size: 80px;
  color: white;
  text-align: right;
  margin-bottom: 30px;
}
.banner-description {
  font-size: 25px;
  text-align: right;
  color: white;
  line-height: 35px;
  letter-spacing: 1.2px;
  margin-bottom: 50px;
}
.banner-btn {
  font-size: 25px;
  font-weight: bold;
  padding: 10px 15px;
  background: white;
  border: 2px solid transparent;
  border-radius: 5px;
  color: #0079ba;
}
.banner-btn:hover {
  border: 2px solid white;
  background: rgba(255, 255, 255, 0.226);
  color: white;
}
/* About Section Style */
.about-section {
  display: flex;
  align-items: center;
  margin: 100px 0;
  gap: 5rem;
}
.about-content-1 img {
  width: 700px;
}
.about-content-2 {
  width: 50%;
  margin-left: auto;
  margin-top: 11rem;
}
.section-title {
  font-size: 50px;
  margin-bottom: 30px;
}
.description {
  color: #444343;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
}
.about-content-2 ul {
  list-style: none;
  line-height: 45px;
  font-size: 20px;
  color: #444343;
}
.about-content-2 ul li::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  margin-right: 8px;
  color: #0079ba;
  font-size: 22px;
}

/* Service Section Style */
.service-section {
  width: 100%;
  margin-bottom: 200px;
}
.ser-content-1 {
  display: flex;
  justify-content: space-between;
}
.ser-box {
  text-align: center;
  width: 300px;
  height: 200px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 11px 21px 0px #0079ba30;
}
.ser-box:hover {
  box-shadow: 0px 11px 21px 0px #0079ba5b;
}
.ser-box h3 {
  font-size: 30px;
}
.ser-box p {
  font-size: 20px;
}
.ser-content-2 {
  width: 100%;
  border-radius: 15px;
  padding: 50px 0 50px 50px;
  margin-top: 100px;
  background: url("./assets/images/watch.png"),
    linear-gradient(to left, rgba(0, 0, 0, 0.386), rgba(0, 121, 186, 1))
      no-repeat;
  background-blend-mode: overlay;
  background-size: cover;
  box-shadow: 0px 11px 21px 0px #0079ba30;
}
.ser-content-2 h2 {
  color: white;
}

/* contact section style */
.contact-section {
  width: 100%;
  background: #0079ba;
  padding: 100px;
  text-align: center;
  border-radius: 20px;
  margin: 100px 0;
}
.contact-section h1 {
  color: white;
}
.form-content {
  display: flex;
  justify-content: space-between;
}
.form-box-1 {
  background: rgb(255, 255, 255);
  width: 45%;
  border-radius: 15px;
  height: 520px;
  padding-top: 60px;
}
.form-box-1 .input {
  width: 80%;
  height: 60px;
  margin-top: 10px;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid #0079ba;
}
.textarea {
  height: 160px !important;
}
.form-box-1 .input-btn {
  width: 40%;
  height: 60px;
  margin-top: 10px;
  border-radius: 5px;
  border: 2px solid transparent;
  font-size: 20px;
  font-weight: bold;
  background: #0079ba;
  color: white;
}
.form-box-1 .input-btn:hover {
  border: 2px solid #0079ba;
  background: white;
  color: #0079ba;
}
.form-box-2 {
  width: 45%;
  height: 520px;
  background: white;
  border-radius: 15px;
}
.form-box-2 img {
  width: 100%;
  border-radius: 15px;
}

/* blog section style */
.blog-section{
  background: #0079ba;
  padding: 30px 30px;
  border-radius: 15px;
}
.blog-section h1{
  color: white;
}
.blog-section hr{
  margin-bottom: 40px;
}
.blogs{
  display: flex;
  justify-content: space-around;
}
.blog-post{
  width: 28%;
  margin: 30px 0;
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 11px 21px 0px #001d2c88;
}
.blog-post:hover{
  box-shadow: 0px 11px 21px 0px #001d2c;
}
.blog-article{
  margin: 20px;
}
.blog-article h3{
  font-size: 20px;
  margin-bottom: 20px;
  color: #0079ba;
}
.blog-article p{
  font-size: 15px;
  margin-bottom: 20px;
  line-height: 25px;
}

/* Footer Section style */
.footer {
  background: #151414;
}
.footer-section {
  width: 1350px;
  height: 600px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-left {
  width: 40%;
}
.footer-left h2 {
  color: white;
  font-size: 50px;
  margin-bottom: 30px;
}
.footer-left p {
  color: white;
  font-size: 18px;
  margin-bottom: 30px;
}
.footer-left a {
  text-decoration: none;
  margin-right: 20px;
}
.footer-right {
  width: 30%;
}
.footer-right h3 {
  color: white;
  font-size: 25px;
  margin-bottom: 20px;
}
.footer-right .email {
  width: 100%;
  padding: 20px 10px;
  font-size: 18px;
  border-radius: 10px;
  border: 2px solid white;
  background: #151414;
  margin-bottom: 30px;
}
.footer-right .btn {
  font-size: 25px;
  font-weight: bold;
  padding: 10px 15px;
  background: #0079ba;
  border: 2px solid transparent;
  border-radius: 5px;
  color: white;
}
.footer-right .btn:hover {
  border: 2px solid #0079ba;
  color: #0079ba;
  background: #151414;
}
